{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenu</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sit voluptates omnis sed adipisci, pariatur totam dolor eos explicabo iure nobis fugiat soluta hic delectus doloremque repellendus illum, nisi libero iste! Minima dolorum libero nesciunt blanditiis itaque ab assumenda vel?</p>
<p>Ea, architecto fugit natus voluptatum nemo quisquam sit? Quia facilis officiis quaerat doloribus, rem placeat perspiciatis, sed corporis vel ab modi ipsum beatae ipsa odit cumque ad ex, perferendis sequi nam officia! Vel facilis iste, cupiditate atque obcaecati fugit optio!</p>
{% endblock %}